<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Users</title>
  </head>
  <body>
    <form name="newUser" method="post">
      <input name="name" placeholder="name"></input>
      <input name="title" placeholder="title"></input>
      <textarea name="body" placeholder="write your blog here"></textarea>
    </form>
</body>
<footer>
  <ul href="./views/edit">edit</ul>
  <ul href="./views/new.ejs">new</ul>
  <ul href="./views/index.ejs">index</ul>
</footer>
</html>
