<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Users</title>
  </head>
  <body>
<h1><%user.title%></h1>
<h2><%user.name%></h2>
<p><%user.content%></p>
<ul href="./views/edit">edit</ul>
<ul href="./views/new.ejs">new</ul>
<ul href="./views/index.ejs">index</ul>
</html>
